TELEGRAM_TOKEN=8164727264:AAHmki5SArpx391NQnZ60WFBXbYe0r6DHXo
# Можно использовать любой из вариантов:
OPENWEATHER_API_KEY=d43fa1cdb9aec7a90160d96814a0658b
# WEATHER_API_KEY=your_openweather_api_key_here

# Опционально (по умолчанию cities.db рядом с main.py)
# DB_PATH=cities.db
